In [82]:
df = pd.read_csv('data/processed/2024_6.csv')

In [83]:
df = df.sort_values(by='sentiment_score', ascending=False)

In [85]:
def replace_json(x):
    x = x.replace("'", "\"")
    try:
        return json.loads(x)
    except:
        return None

df['keywords'] = df['keywords'].apply(lambda x: replace_json(x))

In [86]:
df = df.explode('keywords')

In [87]:
df = pd.concat([df.reset_index(drop=True), pd.json_normalize(df['keywords'])], axis=1)

In [88]:
df.drop(columns=['keywords'], inplace=True)

In [90]:
df.dropna(subset=['value'], inplace=True)

In [100]:
df[df['news_desk'] == 'Business'].drop_duplicates(subset=['value'])['value'].head(25)

218                            Health Clubs
219                                Exercise
220                Real Estate (Commercial)
221                           Chelsea Piers
222                    Equinox Holdings Inc
223                         Manhattan (NYC)
224                           New York City
225               Luxury Goods and Services
252                                   Fruit
253    International Trade and World Market
254                 Agriculture and Farming
255          Economic Conditions and Trends
256                       Consumer Behavior
257                                   China
258                                Thailand
259                                Malaysia
260                          Southeast Asia
261                               vis-photo
262               audio-neutral-informative
350                   internal-storyline-no
351                            Social Media
352              High Net Worth Individuals
353      Pershing Square Capital Management
354                       Ackman, William A
355                Initial Public Offerings
Name: value, dtype: object

In [99]:
df['news_desk'].unique()

array(['Dining', 'Styles', 'Arts&Leisure', 'Culture', 'Magazine',
       'Foreign', 'RealEstate', 'Business', 'BookReview', 'Weekend',
       'National', 'TStyle', 'Science', 'Sports', 'SundayBusiness',
       'Politics', 'Insider', 'Washington', 'Travel', 'Summary',
       'Climate', 'Express', 'Books', 'SpecialSections', 'Metro',
       'Local Investigations', 'Election Analytics', 'Investigative'],
      dtype=object)

In [101]:
months = {
    "Jan 2023": {"month": "1", "year": "2023"},
    "Feb 2023": {"month": "2", "year": "2023"},
    "Mar 2023": {"month": "3", "year": "2023"},
    "Apr 2023": {"month": "4", "year": "2023"},
    "May 2023": {"month": "5", "year": "2023"},
    "Jun 2023": {"month": "6", "year": "2023"},
    "Jul 2023": {"month": "7", "year": "2023"},
    "Aug 2023": {"month": "8", "year": "2023"},
    "Sep 2023": {"month": "9", "year": "2023"},
    "Oct 2023": {"month": "10", "year": "2023"},
    "Nov 2023": {"month": "11", "year": "2023"},
    "Dec 2023": {"month": "12", "year": "2023"},
    "Jan 2024": {"month": "1", "year": "2024"},
    "Feb 2024": {"month": "2", "year": "2024"},
    "Mar 2024": {"month": "3", "year": "2024"},
    "Apr 2024": {"month": "4", "year": "2024"},
    "May 2024": {"month": "5", "year": "2024"},
    "Jun 2024": {"month": "6", "year": "2024"},
}

In [105]:
import pandas as pd

In [107]:
df = pd.DataFrame()
for month in months.keys():
    temp_df = pd.read_csv(f'data/processed/{months[month]["year"]}_{months[month]["month"]}.csv')
    df = pd.concat([df, temp_df])

In [113]:
# import datetime module
import datetime
from datetime import date
from dateutil.relativedelta import *

# consider the start date as 2021-february 1 st
start_date = datetime.date(2022, 1, 1)
 
# consider the end date as 2021-march 1 st
end_date = date.today()
 
# delta time
delta = relativedelta(months=1)
 
# iterate over range of dates
while (start_date <= end_date):
    print(start_date.year, start_date.month)
    start_date += delta

2022-01-01
2022 1
2022-02-01
2022 2
2022-03-01
2022 3
2022-04-01
2022 4
2022-05-01
2022 5
2022-06-01
2022 6
2022-07-01
2022 7
2022-08-01
2022 8
2022-09-01
2022 9
2022-10-01
2022 10
2022-11-01
2022 11
2022-12-01
2022 12
2023-01-01
2023 1
2023-02-01
2023 2
2023-03-01
2023 3
2023-04-01
2023 4
2023-05-01
2023 5
2023-06-01
2023 6
2023-07-01
2023 7
2023-08-01
2023 8
2023-09-01
2023 9
2023-10-01
2023 10
2023-11-01
2023 11
2023-12-01
2023 12
2024-01-01
2024 1
2024-02-01
2024 2
2024-03-01
2024 3
2024-04-01
2024 4
2024-05-01
2024 5
2024-06-01
2024 6
2024-07-01
2024 7